
@media (max-width: 1200px) {
	.container {
	  max-width: 970px;
	}

	.intro_inner {
	  max-width: 670px;
	}

	.intro_title {
	  font-size: 60px;
	}

	.intro_about {
	  font-size: 18px;
	}

	.intro_footer {
	  font-size: 22px;
	}

	.section_header h3 {
	  font-size: 42px;
	}
}


@media (max-width: 992px) {
	.container {
	  max-width: 750px;
	}

	.nav_link {
	  display: block;
	  font-size: 12px;
	}

	.btn {
	  border-radius: 8px;
	  display: block;
	  margin: 5px;
	  padding: 4px 6px;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 12px;
	}

	.intro_inner {
	  max-width: 550px;
	}

	.intro_title {
	  font-size: 50px;
	}

	.intro_about {
	  font-size: 16px;
	}

	.intro_footer {
	  font-size: 18px;
	}

	.section_header h3 {
	  font-size: 36px;
	}

	.footer_inner {
	  flex-direction: column;
	  padding: 0 0 20px 0;
	}

	.footer_name {
	  text-align: center;
	  margin-top: 20px;
	  font-size: 22px;
	}

	.footer_link {
	  text-align: center;
	  font-size: 16px;
	}

	.hamburger_menu {
	  display: block;
	}

	.navigation {
	  display: none;
	}

	.login {
	  display: none;
	}
}

@media (max-width: 767px) {
	.container {
	  max-width: none;
	}

	.intro_inner {
	  max-width: none;
	}

	.intro_title {
	  font-size: 40px;
	}

	.intro_about {
	  font-size: 14px;
	}

	.intro_footer {
	  font-size: 16px;
	}

	section {
	  padding: 30px 0 20px 0;
	}

	.section_header {
	  margin-bottom: 20px;
	}

	.section_header h3 {
	  font-size: 28px;
	}

	.staff {
	  display: block;
	}

	hr {
	  display: none;
	}

	.staff_text {
     margin-bottom: 50px;
	}

}
